%h1 Dashboard
This is your home screen. You can
%a{href: main_challenge_list_path} challenge
other player here and see the result of your submissions and matches.


%h2 Submit New Bot
= form_tag submission_path, multipart: true do
  = file_field_tag 'file', class: "btn btn-default"
  = submit_tag "Submit", class: "btn btn-default"

%h2 Bots

%table.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th ID
      %th Language
      %th Status
      %th Submit Time
  %tbody
    - @submission.each do |s|
      %tr
        %td= s.id
        %td= s.try(:language).try(:pretty_name)
        %td= submission_state_text(s.state)
        %td= s.created_at

= will_paginate @submission, :renderer => BootstrapPagination::Rails, :param_name => "spage"

%h2 Match Record

%table.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th ID
      %th Player
      %th Winner
      %th Played
      %th Status
  %tbody
    - @match.each do |m|
      %tr
        %td= m.id
        %td= "#{m.p1_sub.user.login} vs. #{m.p2_sub.user.login}"
        %td= (m.winner == 0 ? "-- draw --" : (m.winner == 1 ? m.p1_sub.user.login : m.p2_sub.user.login))
        %td= m.play_at
        %td= match_text(m).html_safe
          

//= will_paginate @match, :renderer => BootstrapPagination::Rails, :param_name => "mpage"
