%h2 Recent Matches

%table.table.table-hover.table-condensed.table-responsive
  %thead
    %tr
      %th ID
      %th Player
      %th Winner
      %th Played
      %th Status
  %tbody
    - @match.each do |m|
      %tr
        %td= m.id
        %td= "#{m.p1_sub.user.login} vs. #{m.p2_sub.user.login}"
        %td= (m.winner == 0 ? "-- draw --" : (m.winner == 1 ? m.p1_sub.user.login : m.p2_sub.user.login))
        %td= m.play_at
        %td= match_text(m).html_safe
