%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container
    = link_to "Planet War", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        - if session[:user_id] then
          %li= link_to User.find(session[:user_id]).login + "'s Dashboard",   main_dashboard_path
          %li= link_to "Challenge",   main_challenge_list_path
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")
            Leaderboard
            %b.caret
          %ul.dropdown-menu
            %li= link_to "Recent", leaderboard_recent_path
            %li= link_to "Ranking", leaderboard_ranking_path
        %li= link_to "Help",   'http://www.nattee.net/planetwar_help'
        - if session[:user_id] then
          %li= link_to "Log out", logout_path, method: :delete
